body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    gap: 10px;
    margin: 0;
    padding: 0;
    /* flex: 1; */
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    margin: 0;
    padding: 8px;
    background-color: lightgray;
    border-radius: 8px;
}

.heading {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

h1 {
    margin: 0;
    padding: 8px;
}

.spielstand,
.Gewinner {
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zahl {
    font-size: large;
    font-weight: bold;
}

p {
    padding: 10px;
    margin: 0;
}

.Gewinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gewinn {
    font-size: large;
    font-weight: bold;
}